In [1]:
class Persona:
    def __init__(self, id, nombre, apellido):
        self.id = id
        self.nombre = nombre
        self.apellido = apellido

    def obtener_datos(self):
        return f"ID: {self.id}, Nombre: {self.nombre}, Apellido: {self.apellido}"

In [2]:
class Estudiante(Persona):
    def __init__(self, id, nombre, apellido, codigo_alumno, matricula):
        super().__init__(id, nombre, apellido)
        self.codigo_alumno = codigo_alumno
        self.matricula = matricula

    def obtener_datos(self):
        datos_persona = super().obtener_datos()
        return f"{datos_persona}, Código de Alumno: {self.codigo_alumno}, Matrícula: {self.matricula}"

In [4]:
# Ejemplo
persona = Persona(1, "Alexis", "Sanchez")
estudiante = Estudiante(2, "Bruce", "Wayne", "123456", "2023-2024")

print(persona.obtener_datos())
print(estudiante.obtener_datos())

ID: 1, Nombre: Alexis, Apellido: Sanchez
ID: 2, Nombre: Bruce, Apellido: Wayne, Código de Alumno: 123456, Matrícula: 2023-2024